.forgot-password-container {
  .forgot-password {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 8px 8px 8px 8px #e0e0e0;
    padding: 20px;
    width: 600px;
    margin: 50px auto;
    .forgot-password-form {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      .email-input {
        padding: 8px 12px;
        width: 300px;
        border-radius: 8px;
        border: 1px solid #333333;
        font-size: 16px;  
      }
      :focus {
        outline: 0;
    }
    }
  }
}
